<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>j-files</name>
  <description>generating java files</description>
  <remoteFS>/home/ec2-user</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.834.v622da_57f702c">
    <host>13.233.10.48</host>
    <port>22</port>
    <credentialsId>jenkin</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>test2</label>
  <nodeProperties/>
</slave>